#topsec {
    background-color: rgb(83, 56, 9);
    margin-bottom: 5px;
    padding-left: 0;
}

div {
    padding: 0;
    margin: 0;
}

#welcome {
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin-top: auto;
    color: slategray;
}

body {
    background-color: black;
    font-family: "Courier New", monospace;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.column {
    float: left;
    width: 30%;
    padding: 5px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

.row {
    content: "";
    display: table;
    clear: both;
    margin-left: 0;
    margin-right: 0;
  }

#favorites {
    border-radius: 25px 25px;
    margin: 10px;
    background-color: rgb(55, 75, 0);
  }

#school {
    background-color: chocolate;
}

#webdev {
    background-color: green;
}

#fav {
    background-color: darkolivegreen;
    color: antiquewhite;
}

#me {
    display: block;
    width: 200px; 
    height: auto;
    padding-top: 10px;
}

h1 {
    text-align: center;
  }

#menu {
    list-style-type: none;
    width: 200px;
    background-color: darkcyan; 
    text-transform: uppercase;
    text-align: center;
   
    }

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

a.top:hover {
    background-color: slateblue;
    width: 200px;
}